.punchgrids {
	height:1.8em;
	background-color: blue;
	color:white;
	text-align:center;
	border:.2em solid white;
	}
	
.punchHeader {
	background-image: url('../img/logo.PNG'), -webkit-linear-gradient(#3B2C25, #765F4D); /* For Safari 5.1 to 6.0 */
    background-image: url('../img/logo.PNG'), -o-linear-gradient(#3B2C25, #765F4D); /* For Opera 11.1 to 12.0 */
    background-image: url('../img/logo.PNG'), -moz-linear-gradient(#3B2C25, #765F4D); /* For Firefox 3.6 to 15 */
    background-image: url('../img/logo.PNG'), linear-gradient(#3B2C25, #765F4D); /* Standard syntax */
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
 	height:8.5em;
		}
		
.punchHeader span {
	position: relative;
	top: 35%;
	transform: translateY(-50%);
	color:solid white;
	text-transform:uppercase;
	letter-spacing: 0.055em;
    font-size: 150%; 
    font-style: italic;
    font-weight:400;

		}
		
.punchElem {
 	height:12em;
		}

.punchSet {
 	height:5.5em;
		}

@media (max-width: 768px){                                    /* Smarphone  landscape*/
  .container{
    max-width:100%;
    height:100%;
  }


  html,body{
    max-width:100%;
    height:100%;
  }  

  
  .punchH {
 	height:33%;
		}		

  .punchHeader {
 	height:100%;
		}		
		
		
.punchBody {
 	height:46%;
		}

.punchElem {
 	height:100%;
		}


.punchBottom {
 	height:21%;
		}

.punchSet {
 	height:100%;
		}
		    
}
@media screen and (max-width: 31.88775510204082em) {               /* Smarphone  portrait*/

  .container{
    max-width:100%;
    height:100%;
  }  

.punchgrids{
    width:100%;
  }

  html,body{
    max-width:100%;
    height:100%;
  }  

.punchgrids{
    width:100%;
  }
  
  .punchH {
 	height:23%;
		}		

  .punchHeader {
 	height:100%;
		}		
		
		
.punchBody {
 	height:52%;
		}
 
 .col-xs-5.punchElem {
	height:40%;	
 }

.col-xs-3.punchElem,.col-xs-4.punchElem {
	height:60%;
	width: 50%;	
 } 
  

.punchBottom {
 	height:25%;
		}

.punchSet {
 	height:100%;
		}
	
	
}

@media (min-width: 768px){
  .container{
    max-width:45em;
  }  
}

@media (min-width: 992px){
  .container{
    max-width:45em;
  }
}

@media (min-width: 1200px){
  .container{
    max-width:45em;
  }
}
