<!DOCTYPE html>   
<html lang="en" data-ng-app="punchCard">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->

		<title>punchCard</title>
		<meta name="description" content="">
		<meta name="author" content="EAP">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
		<link href="css/patternLock.css?9"  rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="css/aspect.css" media="screen">
	</head>

	<body data-ng-controller="ModalDemoCtrl">
		    <script type="text/ng-template" id="myModalContent.html">
		        <div class="modal-header">
		            <h3 class="modal-title">I'm a modal!</h3>
		        </div>
		        <div class="modal-body">
		            <div id="createPattern" class="pattern-holder" data-ng-init="init()"></div>
		            Selected: <b>{{ selected.item }}</b>
		        </div>
		        <div class="modal-footer">
		            <button class="btn btn-primary" ng-click="ok()">OK</button>
		            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		        </div>
		    </script>
		    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
		<div class="container">
			<div class="row punchH">
				<div class="col-xs-12 punchgrids punchHeader">
					<span>bagel nosh</span>
				</div>				
			</div>
			<div class="row punchBody">
				<div class="col-xs-5 punchgrids punchElem">
					<span>835 W. Warner Rd. #109 Gilbert, AZ 85233 
						<br /> Phone: (480) 507-8911
						<br /> Fax: (490) 926-5711  
					</span>
				</div>
				<div class="col-xs-4 punchgrids punchElem">
					<span>
						<!-- This can be product description instead of picture -->
					</span>
				</div>
				<div class="col-xs-3 punchgrids punchElem">
					<span>
						<!-- This could eventually be used for a 2nd thematic picture if no scanning happens-->
					</span>
				</div>
			</div>
			<div class="row punchBottom">
				<div class="col-xs-12 punchgrids punchSet">				 					 
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" checked="checked" disabled>
					  </label>
					</span>
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" checked="checked" disabled >
					  </label>
					</span>
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" checked="checked" disabled>
					  </label>
					</span>
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" checked="checked" disabled>
					  </label>
					</span>
					<span class="checkbox">
					  <label>
					    <input type="checkbox" value="" data-ng-click="open()">
					  </label>
					</span>
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" disabled>
					  </label>
					</span>
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" disabled>
					  </label>
					</span>
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" disabled>
					  </label>
					</span>
					<span class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" disabled>
					  </label>
					</span>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
		<script src="js/punchCard.js"></script>
		<script src="js/patternLock.js"></script>
	</body>
</html>
