<!DOCTYPE html>
<html ng-app="checkForm">
<head>
<title>Customer Signup Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="dcterms.rightsHolder" content="Vince Gagliardi" />
<meta name="dcterms.dateCopyrighted" content="2014" /> <meta name="Snappy Punch User Signup" content="A short description of the page" />
<meta name="keywords" content="keywords describing this page, most search engines 
ignore this now due to abuse"/>
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="formCSS.css" type="text/css" rel="stylesheet" />

</head>
<body>
	
	<h1>User Signup Page</h1>
	
<hr>
<!--User Information Section-->	
		
		<h2> Customer Information</h2>
		
<div ng-controller="FormController">
	
	<form name="userSignup" class="css-form" novalidate>
	
	
		Username:<br>
  			<input type="text" ng-model="user.name" name="uName" required>{{uName}}<br />
  		
  			
  			<div style="color:red" ng-show="userSignup.uName.$dirty && userSignup.uName.$invalid">Invalid:
  				<span ng-show="userSignup.uName.$dirty && userSignup.uName.$invalid"></span>
  				<span ng-show="userSignup.uName.$error.required">Username is Required.</span>
  		</div>    
  			
		Email:<br>
			<input type="email" ng-model="user.email" name="uEmail" required>{{uEmail}}<br />
  		
			
			<div ng-show="userSignup.uEmail.$dirty && userSignup.uEmail.$invalid">Invalid:
  				<span ng-show="userSignup.uEmail.$dirty && userSignup.uEmail.$invalid">
  				<span ng-show="userSignup.uEmail.$error.required"> An email is required.</span>
  				<span ng-show="userSignup.uEmail.$error.email">Invalid email address.</span>
			</div>
			
<!-- <div ng-controller="ExampleController">
  <form name="form" class="css-form" novalidate>
    Name:
      <input type="text" ng-model="user.name" name="uName" required /><br />
    E-mail:
      <input type="email" ng-model="user.email" name="uEmail" required/><br />
    <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid:
      <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
    </div>

    Gender: <input type="radio" ng-model="user.gender" value="male" />male
    <input type="radio" ng-model="user.gender" value="female" />female<br />

    <input type="checkbox" ng-model="user.agree" name="userAgree" required />
    I agree: <input ng-show="user.agree" type="text" ng-model="user.agreeSign"
              required /><br />
    <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>

</div> -->
			
<!-- Actions -->

	<button ng-click="reset()" ng-disabled="isUnchanged(user)" >RESET</button>
    <button ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)">SAVE</button>
		
	</form>
	
		<pre>form = {{user | json}}</pre>
  		<pre>master = {{master | json}}</pre>
  	
</div>
<script src="angular.js"></script>
<script src="formVerification.js"></script>
</body>
</html>
